.mindmap-entry
  position absolute
  width 800px
  height 600px
  margin-left 50%
  left -400px
  top 200px
  background-image url('../../../assets/img/notepad.png')
  background-size 800px 600px
  background-repeat no-repeat
  padding-top 65px
  padding-left 150px
  padding-right 50px
  text-align center
  font-size 19px

  p
    font-size 24px

  #ListOfLinks
    position absolute
    width 800px
    height 50px
    top 510px
    left 20px

.mindmap-link
  cursor pointer
